<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    <title>Accusation</title>
</head>
<body>
<div class="outer-ridge">
    <div class="inner-ridge">
        <div class="main-content">
            <div class="inner-content" style="flex: 0 0 1000px;">
                <h2>Accuse {{ character.name }}</h2>
                <header>Present the evidences you found</header>
                <div class="flashcard" style="margin-top: 40px;border: none;">
                    <form action="/accuse_character/{{ character.id }}" method="POST">
                    <textarea id="evidences" name="evidences" cols="50" rows="10"></textarea>
                    <br>
                    <input class="input-visible" type="submit" value="Accuse">
                    </form>
                </div>
            </div>
        </div>
        <footer class="universal">
            <nav>
                <a href="/">Home</a>
            </nav>
        </footer>
    </div>
</div>
</body>
</html>
