<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mystery Machine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>

</head>
<body onload="clearMark()" >
<div class="outer-ridge">
  <div class="inner-ridge">
    <header>
        <h1>Mystery Machine</h1>
         {% if message %}
        {{ message }}
        {% endif %}
    </header>
      <main class="main-content">

        <!-- Left Side Panel -->
        <aside class="side-form">
             <form method="POST" action="/config_ai" id="config_ai">
                <input type="text" name="changed" id="changed" hidden>
                <label>Model<input type="text" name="model" id="model" size="10" placeholder="{{ aiconfig.ai_model }}" onInput="setMark()"></label>
                <label>Role<input type="text" name="role" id="role" size="10" placeholder="{{ aiconfig.ai_role }}" onInput="setMark()"></label>
                <label>Random Factor<input type="text" name="temp" id="temp" size="10" placeholder="{{ aiconfig.ai_temperature }}" onInput="setMark()"></label>
                <label>Content Diversity<input type="text" name="top_p" id="top_p" size="5" placeholder="{{ aiconfig.ai_top_p }}" onInput="setMark()"></label>
                <label>Token/Step<input type="text" name="top_k" id="top_k" size="5" placeholder="{{ aiconfig.ai_top_k }}" onInput="setMark()"></label>
                <label>Max Token<input type="text" name="max_out" id="max_out" size="10" placeholder="{{ aiconfig.ai_max_out }}" onInput="setMark()"></label>
                <input type="submit" value="Set" class="input-visible" style="padding: 8px 12px;" id="set_config">
             </form>
        </aside>

        <!-- Central Panel -->
        <section class="main-panel">
            {% if stories %}
            <h2>Select a Story</h2>
            <div class="selection-row">
                <form action="/generate_case" method="POST" id="generate_case">
                    <select name="text_id" id="pick_text" size="5" onInput="setText()">
                        {% for text in stories %}
                            <option value="{{ text.id }}">No. {{ text.id }}: {{ text.title }} from {{ text.author }}</option>
                        {% endfor %}
                    </select>
                </form>

                <div class="button-column">

                    <input class="input-visible" type="submit" value="Generate Case" form="generate_case">
                    <form action="/del_text" id="del_text" method="POST">
                        <input type="text" id="text_id" name="text_id" hidden>
                    </form>
                    <input class="input-visible" type="submit" value="Delete Text" form="del_text" style="background-color: red;">
                </div>

            {% else %}
                <div class="no-cases" style="text-align:center;">No crime story found. Please add a new story.</div>
            {% endif %}
            </div>
            {% if cases %}
            <h2>Select a Case</h2>
            <div class="selection-row">
                <form action="/select_case" method="POST" id="select_case">
                    <select name="case_id" id="pick_case" size="5" onInput="setCase()">
                        {% for case in cases %}
                            <option value="{{ case.id }}">No. {{ case.id }}: {{ case.title }}: {{ case.status }}</option>
                        {% endfor %}
                    </select>
                </form>
                <div class="button-column">
                    <input class="input-visible" type="submit" value="Select case" form="select_case">
                    <form action="/del_case" id="del_case" method="POST">
                        <input type="text" id="case_id" name="case_id" hidden>
                    </form>
                    <input class="input-visible" type="submit" value="Delete Case" form="del_case" style="background-color: red;">
                    <form action="/analysis" id="analysis" method="POST" >
                        <input type="text" id="aux_id" name="aux_id" hidden></form>
                    <input class="input-visible" type="submit" value="Analysis" form="analysis" style="background-color: grey;">

                </div>

            {% else %}
                <div class="no-cases" style="text-align:center;">No mystery cases found. Please use a story from above to generate one.</div>
            {% endif %}
            </div>
            <footer class="universal">
            <nav>
               <a href="/">Home</a>
               <a href="/add_text">Add new Story</a>
            </nav>
            </footer>
        </section>
      </main>
  </div>
</div>
<script type='text/javascript'>
    function setCase() {
     var optionValue = document.getElementById("pick_case").value;
     document.getElementById("case_id").value = optionValue;
     document.getElementById("aux_id").value = optionValue;
    }
    function setText() {
     var optionValue = document.getElementById("pick_text").value;
     document.getElementById("text_id").value = optionValue;
    }
    function setMark() {
     document.getElementById("changed").value = 1;
     document.getElementById("set_config").style.visibility = 'visible';
    }
    function clearMark() {
     document.getElementById("changed").value = 0;
     document.getElementById("set_config").style.visibility = 'hidden';
    }
</script>
</body>

</html>
